<html>
    <head>
        <title>Luise's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        
        <div>
            
            <h2>My first post</h2>
            <p>Hi, my name is Luise and this is my first post about starting my blog.</p>
            <p>published: 07.07.2018, 12:47</p>
        </div>

        <div>
                
                <h2>My second post</h2>
                <p>Coding is fun, blablabla</p>
                <p>published: 07.07.2018, 12:51</p>
                
        </div>
    </body>
</html>
